.home-container{
    width:60%;
}
.gold-button {
    background-color:orange;
    color:rgb(14, 12, 12);
    font-weight: bold;
}

.info{
    position: relative;
    top: 20px;
    left: 15px;
}
.font1{
    font-family: cursive;
}
.cardheight{
    height: 250px;
    border-radius: 30px;
   
}
.card-text1{
font-size: 13px;
}
.card-title1{
    font-size: 17px;
      
}
.card-img-top{
    position:relative;
    top: -20px;
}

