<div class="container home-container cursor mt-2">
    <div class="d-flex flex-row justify-content-around mb-2">
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/doctor.svg" alt="" width="90" height="60">
                <h6 class="text-center mt-1">Consult to doctor</h6>
            </a>
        </div>
        <div class="p-2">
            <a routerLink="/medicine-home" class="text-decoration-none">
                <img src="https://www.medibuddy.in/assets/services/medicine.svg" alt="" width="90" height="60">
                <h6 class="text-center mt-1">Medication</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/surgery.svg" alt="" width="90" height="60">
                <h6 class="text-center mt-1">Surgery</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="" width="90" height="60">
                <h6 class="text-center mt-1">Insurance</h6>
            </a>
        </div>
        <div class="p-2">
            <a routerLink="/labtest-home" class="text-decoration-none">
                <img src="https://www.medibuddy.in/assets/services/labtest.svg" alt="" width="90" height="60">
                <h6 class="text-center mt-1">Lab test</h6>
            </a>
        </div>
    </div>
</div>

<div class="container mt-2 home-container p-4 rounded-pill border shadow-sm">
    <div class="row">
        <div class="col-md-6 text-end">
            <h6 class="pt-2">Consult with Top Doctors Online, 24x7</h6>
        </div>
        <div class="col-md-4">
            <p class="border p-2 text-center text-primary rounded-pill">Start Consultation <i
                    class="bi bi-arrow-right ms-1"></i></p>
        </div>
    </div>
</div>

<div class="container width-75 mt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container width-75 mt-4">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">
    </div>
</div>

<div class="container w-75 mt-4">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mt-1">MediBuddy Gold</h4>
            <h3 class="mt-4">Give the care your family deserves</h3>
            <h5 class="mt-4 fs-5">Unlimited Consultations with top Doctors for <br> 6 family members in 18+ specialities
            </h5>
            <p class="border mt-3 p-2 w-50 text-center gold-button rounded-pill shadow">BuyMediBuddy Gold <i
                    class="bi bi-arrow-right ms-1"></i></p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="card" style="width: 15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="ms-2 mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title">Unlimited Free Consultations</h5>
                        <p class="card-text">Get unlimited free consultations <br> with all doctors 24x7.</p>
                    </div>
                </div>
                <div class="card info" style="width: 15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="ms-2 mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title">Free For Full Family</h5>
                        <p class="card-text">Free consultations for upto 6 <br> family members</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mt-3" style="width: 15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="ms-2 mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title">Free For All Health Problems</h5>
                        <p class="card-text">Consult with any doctor from <br> 18 departments at any time</p>
                    </div>
                </div>
                <div class="card info mt-3" style="width: 15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg" class="ms-2 mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title">Video Consultations</h5>
                        <p class="card-text">Video Consults with top <br> doctors 24x7</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container mt-5 w-75">
    <h1 class="font1 text-primary">Insurance</h1>
    <h5 class="font2 text-primary">Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with <br> network hospitals and intimate Hospitalization</h5>
    <div class="row mt-4 d-flex justify-content-around">
        <div class="card cardheight" style="width: 10rem">
            <div class="card-body">
                <h5 class="card-title1">E-Card</h5>
                <p class="card-text1">Get e-cards for you and your family members</p>
            </div>
            <img src="https://www.medibuddy.in/assets/services/insurance/ecard.svg" class="card-img-top ms-4 mb-2" alt="..." height="70" width="70">
        </div>
        <div class="card cardheight" style="width: 10rem">
            <div class="card-body">
                <h5 class="card-title1">Claims</h5>
                <p class="card-text1">Track your claims in real time</p>
            </div>
            <img src="https://www.medibuddy.in/assets/services/insurance/claims.svg" class="card-img-top ms-4 mb-2" alt="..." height="70" width="70">

        </div>
        <div class="card cardheight" style="width: 10rem">
            <div class="card-body">
                <h5 class="card-title1">Plan Hospitalization</h5>
                <p class="card-text1">Plan and intimate hospitalization at trusted hospitals</p>
            </div>
            <img src="https://www.medibuddy.in/assets/services/insurance/hospitalization.svg" class="card-img-top ms-4 mb-2" alt="..." height="70" width="70">
        </div>
        <div class="card cardheight" style="width: 10rem">
            <div class="card-body">
                <h5 class="card-title1">Network Hospitals</h5>
                <p class="card-text1">Search for the nearest network hospital to go cashless</p>
            </div>
            <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="card-img-top ms-4 mb-2" alt="..." height="70" width="70">
        </div>

        <div class="card cardheight" style="width: 10rem">
            <div class="card-body">
                <h5 class="card-title1">Empanel Hospitals</h5>
                <p class="card-text1">Become a part of network hospital</p>
            </div>
            <img src="https://www.medibuddy.in/assets/services/insurance/EmpanelHosp.svg" class="card-img-top ms-4 mb-2" alt="..." height="70" width="70">
        </div>

    </div>
</div>

<div class=" container mt-5"></div>