<div class="background image-bg mt-5 p-5"> 
    <div class="d-flex justify-content-around mb-3">
        <div class="p-2">
            <h5 class="cursor">Health</h5> 
            <a>
                <h6 class="mt-1 cursor">MediBuddy Gold</h6>
                <h6 class="mt-1 cursor">Book Medicine</h6>
                <h6 class="mt-1 cursor">Doctor Consultation</h6>
                <h6 class="mt-1 cursor">Book Lab Test</h6>
                <h6 class="mt-1 cursor">Covid Essential Items</h6>
                <h6 class="mt-1 cursor">Dental</h6>
                <h6 class="mt-1 cursor">Cancer Care</h6>
            </a>
        </div>
        <div class="p-2">
            <h5 class="cursor">Hospitalization</h5>
            <a>
                <h6 class="mt-1 cursor">Plan Hospitalization</h6>
                <h6 class="mt-1 cursor">Locate Hospital</h6>
                <h6 class="mt-1 cursor">Download Ecard/Eclaims</h6>
                <h6 class="mt-1 cursor">Track Claims</h6>
                <h6 class="mt-1 cursor">FAQs</h6>
            </a>
        </div>
        <div class="p-2">
            <h5 class="cursor">About</h5>
            <a>
                <h6 class="mt-1 cursor">Overview</h6>
                <h6 class="mt-1 cursor">Testimonial</h6>
                <h6 class="mt-1 cursor">Contact</h6>
                <h6 class="mt-1 cursor">Blog</h6>
                <h6 class="mt-1 cursor">Careers</h6>
                <h6 class="mt-1 cursor">Security</h6>
            </a>
        </div>
        <div class="p-2">
            <h5 class="cursor">Download App</h5>
            <a>
                <h6 class="mt-1 cursor">Talk to doctor</h6>
                <h6 class="mt-1 cursor">Book Medicine</h6>
                <h6 class="mt-1 cursor">Book Medicine</h6>
                <h6 class="mt-1 cursor">Book Medicine</h6>

            </a>
        </div>
    </div>
</div>